.movie-poster-container {
    width: calc(16.666% - 1%);
    height: auto;
    transition: transform 0.5s;
    border-radius: 15px;
    text-align: center;
    position: relative;

}

.movie-poster-container:hover {
    transform: scale(1.1);
}

.movie-poster-container .movie-title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    color: whitesmoke;
    padding: 8px;
    text-align: center;
    font-weight: 900;
    font-size: 0.9=8rem;
}


@media screen and (max-width: 768px) {
    .movie-poster-container {
        width: 100%;
        height: 300px;
        margin-bottom: 5%;
    }
}